
<nav class="navbar navbar-expand-lg navbar-dark bg-primary mb-4">
  <div class="container">
    <a class="navbar-brand" href="/">تطبيق قائمة المهام</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a class="nav-link" href="/">الرئيسية</a>
        </li>
        <% if(locals.user) { %>
          <li class="nav-item">
            <a class="nav-link" href="/todos">المهام</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/auth/logout">تسجيل الخروج</a>
          </li>
        <% } else { %>
          <li class="nav-item">
            <a class="nav-link" href="/auth/login">تسجيل الدخول</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/auth/register">إنشاء حساب</a>
          </li>
        <% } %>
      </ul>
    </div>
  </div>
</nav>
